@model IdentityServer3.Core.ViewModels.LoginViewModel
@{
  ViewBag.Title = "Login";
}
<div>
  <h1>@ViewBag.Title</h1>
</div>
<div layout="row" layout-align="center center" ng-controller="LoginCtrl">
  @if (!string.IsNullOrWhiteSpace(Model.LoginUrl))
  {
    @*@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
      {
        <div class="alert alert-danger">
          <strong>Error:</strong>
          @Model.ErrorMessage
        </div>
      }*@
    <form name="form" method="post" action="@Model.LoginUrl">
      <md-card>
        <md-card-title><md-card-title-text><span class="md-headline">Local Login</span></md-card-title-text></md-card-title>
        <md-card-content layout="column">
          <input type="hidden" name="@Model.AntiForgery.Name" value="@Model.AntiForgery.Value" />
          <md-input-container>
            <label>Username</label>
            <input required name="username" autofocus id="username" type="text" ng-model="model.username" class="form-control" value="@Model.Username" maxlength="100" @(ViewBag.DisableUserNameChange == true ? "readonly='readonly'" : "")>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input required id="password" name="password" type="password" ng-model="model.password" maxlength="100" autocomplete="off">
          </md-input-container>
          @*@if (Model.AllowRememberMe)
            {
              <div class="form-group login-remember">
                <label for="rememberMe">
                  <input type="checkbox" id="rememberMe" name="rememberMe" @(Model.RememberMe ? "checked='checked'" : "") value="true">
                  <strong>Remember My Login</strong>
                </label>
              </div>
            }*@
          @*<ul class="list-unstyled">
              @if (Model.AdditionalLinks != null)
              {
                foreach (var link in Model.AdditionalLinks)
                {
                  <li><a href="@link.Href" id="@link.Text.Replace(" ", "")">@link.Text</a></li>
                }
              }
            </ul>*@
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" ng-disabled="form.$invalid">Login</md-button>
        </md-card-actions>
      </md-card>
    </form>
  }
  @if (Model.ExternalProviders.Any())
  {
    <div class="col-md-6 col-sm-6 external-providers">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">External Login</h3>
        </div>
        <div class="panel-body">
          <ul class="list-inline">
            @foreach (var provider in Model.ExternalProviders)
            {
              <li>
                <a class="btn btn-default" href="@provider.Href">@provider.Text</a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  }
</div>